<div class="top-card">
    <div class="container-fluid title">
      <h1>{{ title | titlecase }}</h1>
    </div>
    <div class="container">
      <div class="row Quotess">
        <div >
            <div class="col-md-6">
                <div class="all-cards">
                    <div *ngFor="let quote of sortQuotes let i= index" class="card">
                        <div class="card-body body">
                            <h4 class="card-title" appHighlightQoute >{{quote.title}} {{quote.maxlikes}} <br> <button (click)='displayInfo(i)' class="btn btn-info btn-sm" id="quotes-button" style="margin-top: 5px;">See More</button></h4>
                            <p class="card-text" id="title-quote">{{quote.quote}}</p>
                            <app-quote-details *ngIf='quote.showInfo' bind-quoty='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>
                            <span class="card-subtitle mb-2">Posted by: <span id="name">{{quote.name}}</span><span id="date"> on: <span id="datecolor">{{quote.datePosted|date:'short'}}</span></span></span>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <app-quotes-form (add)="addedQuote($event)"></app-quotes-form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p><span style="color: rgb(51, 216, 166);">Email</span> : <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">josephkdo@gmail.com</a>  <span style="color: rgb(51, 216, 166);">  GitHub</span>  : <a href="https://github.com/Joseph-Odhiambo" target="_blank">@Joe-Kicker</a></p>
  </footer>
  