<h6 class="card-subtitle mb-2 text-muted">  {{quoty.author}} <span id="when">Posted: {{quoty.datePosted|datePipe}} days ago.</span> </h6>
<div class="container-fluid" id="buttons">
  <button class="btn btn-sm btn-success" (click)='upvote()'>{{quoty.likes}} <i class="fa fa-thumbs-up" id="like"> Like</i></button> 
  <button class="btn btn-sm hate" id="dislike" (click)='downvote()'>{{quoty.dislikes}} <i class="fa fa-thumbs-down" id="dislike"> Dislike</i></button> 
  <button class="btn btn-sm btn-danger" id="delet" (click)='deleteQuote(true)'><i class="fa fa-trash" id="delete"></i> Delete</button> 
</div>
